<div class="container">
  <div class="card">
    <%= render 'bookings/user_profile' %>
  </div>
</div>
<div class="container">
  <div class="container">
    <h2>Booking Status</h2>
  </div>
    <%= render "bookings/booking_show_card" %>
</div>
